.stream-page {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    padding: 24px;
}

.stream-page > .right{
    height: 720px;
}

.stream-info-box {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.stream-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #fff;
}

.stream-description {
    font-size: 16px;
    margin-bottom: 24px;
    color: #b3b3b3;
}

/* Live chat styles */
/* .live-chat {
    background-color: #1a1a1a;
    padding: 16px;
    border-radius: 8px;
    height: 100%;
}

.chat-message {
    font-size: 16px;
    margin-bottom: 8px;
    color: #fff;
}
  
.chat-input {
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    padding: 8px;
    margin-top: 16px;
    width: 100%;
    box-sizing: border-box;
}

.chat-input::placeholder {
    color: #b3b3b3;
}

.chat-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #4b367c;
} */

.live-chat {
    background-color: #1a1a1a;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-sizing: border-box;
}

.chat-box {
    flex: 1;
    overflow-y: scroll;
}

.chat-message {
    font-size: 16px;
    margin-bottom: 8px;
    color: #fff;
}

.current-user {
    color: #00ff00;
}

.message-username {
    font-weight: bold;
}