.stream-page {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    padding: 24px;
}

.stream-page > .right{
    height: 720px;
}

.stream-info-box {
    display: flex;
    gap: 10px;
}

.stream-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #fff;
}

.stream-description {
    font-size: 16px;
    margin-bottom: 24px;
    color: #b3b3b3;
}

.stream-page .profile-pic{
    width: 100px;
    height: 100px;
}

.stream-page .profile-pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px black solid;
}

.live-chat {
    background-color: #1a1a1a;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-sizing: border-box;
}

.chat-box {
    flex: 1;
    overflow-y: scroll;
}

.chat-message {
    font-size: 16px;
    margin-bottom: 8px;
    color: #fff;
}

.current-user {
    color: #00ff00;
}

.message-username {
    font-weight: bold;
}