.navbar{
    position: sticky; 
    top: 0;
    z-index: 1;

    background-color: #282828;
    /* height: 100px; */
    display: flex;
    align-items: center;

    /* animation: colorRotate 5s linear 0s infinite; */
}

@keyframes colorRotate {
    from {
        box-shadow: 0px 5px 41px -12px #6666ff;
    }
    10% {
        box-shadow: 0px 5px 41px -12px #0099ff;
    }
    50% {
        box-shadow: 0px 5px 41px -12px #00ff00;
    }
    75% {
        box-shadow: 0px 5px 41px -12px #ff3399;
    }
    100% {
        box-shadow: 0px 5px 41px -12px #6666ff;
    }
}

.navbar-inner{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.navbar-inner-right{
    display: flex;
    gap: 10px;
}

.navbar-inner-right a{
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 100%;
    transition: background-color 0.5s ease;
}

.navbar-inner-right a:hover{
    /* background-color: #519872; */
    background-color: #568564;
    /* background-color: #519872; */
}

.navbar-inner-right .init-stream{
    background-color: #70A37F;
    /* background-color: #284c39; */
}