.content{
    margin-top: 50px;
}

.content > h1{
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.streams {
    display: flex;
    justify-content: center;
}

.streams-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    max-width: 80%;
}